.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  

  .featuredItem{
    position: relative;
    color: #fff;
    border-radius: 10px;/// border-radius will not work without overflow hidden
    overflow: hidden; 
    height: 215px; // 250px
    padding-bottom: 10px;
    margin-bottom: 10px;

    .featuredTitles{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .featuredImg{
      width: 100%;
      object-fit: cover;
    }
  }
}
