.header{
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;

  .headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

    .headerList{
      display: flex;
      gap: 40px;
      margin-bottom: 45px;
    }
      .headerListItem {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        //// hover needs animation polishing
        // &:hover{
        //   border: 1px solid #fff;
        //   padding: 10px;
        // }
        
        &.active{
          border: 1px solid #fff;
          padding: 10px;
        }
      }
        
      .headerTitle{

      }
    
      .headerDesc{
        margin: 20px 0px;
      }
      .headerBtn{

      }
  }

}